<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>
  </configSections>
  <resizer>
    <plugins>
      <!-- So all the sample projects can share the same image folder-->
      <add name="VirtualFolder" virtualPath="~/" physicalPath="..\Images"/>
    </plugins>
  </resizer>
  <appSettings>
    <add key="SiteName" value="1u11"/>
    <add key="SiteMetaDescription" value="2"/>
    <add key="SiteMetaKeywords" value="3j"/>
    <add key="SiteOffline" value="1"/>
    <add key="LogStatus" value="2"/>
    <add key="LogPath" value="${basedir}/logs/${shortdate}.log"/>
    <add key="CacheStatus" value="2"/>
    <add key="SessionLifetime" value="20"/>
    <add key="defaultConnection" value="SqlCon"/>
    <add key="TestServer" value="1"/>
    <add key="DatabaseType" value="1"/>
    <add key="Host" value="jesandmarDB.db.11344976.hostedresource.com"/>
    <add key="DatabaseUsername" value="jesandmarDB"/>
    <add key="DatabasePassword" value="Aa@4310088"/>
    <add key="DatabaseName" value="jesandmarDB"/>
    <add key="FromEmail" value="khodrog@gmail.com"/>
    <add key="FromName" value="Osama Khodrog"/>
    <add key="SMTPAuthentication" value="1"/>
    <add key="SMTPSecurity" value="2"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="khodrog@gmail.com"/>
    <add key="SMTPPassword" value="123456789"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="secKyeDashboard" value="ooo_sss_mmm"/>
    <add key="secKyeDashboard_barcode" value="ooo_sss_mmm"/>
    <add key="AauthToken" value="1543738454-OrAFdBu8ZhnjIDdxCiodxLnvlkUcny8GVzXlhVP"/>
    <add key="OauthTokenSecret" value="XCfg54DZVc48sMs8uJMN6Y4e6Ax1aYFbs1NgzKSL9jc"/>
    <add key="OauthConsumerKey" value="fbMMC7IvR7Cq6er3PlmalA"/>
    <add key="OauthConsumerSecret" value="pY2eBNxRkv9riZdAmxdXKHpBNDx01tpVtZBJSIoM78"/>
    <add key="SureName" value="jesandmar"/>
    <add key="APITwiiterURL" value="https://api.twitter.com/1.1/statuses/user_timeline.json"/>
    <add key="ChartImageHandler" value="storage=memory;timeout=10;"/>
    <add key="IsLiveStreamEnable" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlCon" connectionString="Data Source=okhodrog-pc\SQLEXPRESS;Initial Catalog=ArabiSkyDB;User ID=sa;Password=123456789" providerName="System.Data.SqlClient"/>
    <add name="SqlCon1" connectionString="Data Source=WIN-K18UA82MQLB\SQLEXPRESS;Initial Catalog=ArabiSkyDB;User ID=sa;Password=bRe2AtRutrU4haw" providerName="System.Data.SqlClient"/>
    <!--<add name="SqlCon" connectionString="Data Source=ArabiSkyDB.db.11181069.hostedresource.com;Initial Catalog=ArabiSkyDB;User ID=ArabiSkyDB;Password=Akoiced71#aosm" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="120"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off">
      <error statusCode="404" redirect="404"/>
      <error statusCode="500" redirect="500"/>
    </customErrors>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
    <httpRuntime sendCacheControlHeader="false" requestValidationMode="2.0" executionTimeout="1000" maxRequestLength="2000000" maxUrlLength="1000" relaxedUrlToFileSystemMapping="true"/>
    <authentication mode="Forms"/>
    <identity impersonate="true"/>
  </system.web>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="Log"/>
    <variable name="logFilePath" value="${basedir}/logs/${shortdate}.log"/>
    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>
      <target name="fileAsInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}"/>
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="fileAsInfo"/>
      <logger name="*" minlevel="Warn" writeTo="file"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
    </rules>
  </nlog>
  <rewriter>
    <rewrite url="^~/([^\?^\.]+)(\?.+)?$" to="~/$1.aspx$2"/>
  </rewriter>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <staticContent>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By" value="&quot; &quot;"/>
        <add name="ETag" value="&quot; &quot;"/>
        <add name="X-AspNet-Version" value="&quot; &quot;"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="http://www.arabisky.com" childOnly="true" httpResponseStatus="Permanent"/>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>