<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailCollecter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EmailCollecter.Properties.Settings>
            <setting name="EmailCollecter_com_arabisky_www_ManageEmailShoot"
                serializeAs="String">
                <value>http://www.arabisky.com/ArabiSky_Service/ManageEmailShoot.asmx</value>
            </setting>
        </EmailCollecter.Properties.Settings>
    </applicationSettings>
</configuration>