<?xml version="1.0" encoding="utf-8"?>
<AppSettings>
  <SiteName></SiteName>
  <SiteMetaDescription></SiteMetaDescription>
  <SiteMetaKeywords></SiteMetaKeywords>
  <SiteOffline>1</SiteOffline>
  <LogStatus>1</LogStatus>
  <LogPath>${basedir}/logs/${shortdate}.log</LogPath>
  <CacheStatus>1</CacheStatus>
  <SessionLifetime>20</SessionLifetime>
  <TestServer>1</TestServer>
  <DatabaseType>1</DatabaseType>
  <Host>LiveKoraDAB.db.11282948.hostedresource.com</Host>
  <DatabaseUsername>LiveKoraDAB</DatabaseUsername>
  <DatabasePassword>Akoiced71#aosm</DatabasePassword>
  <DatabaseName>LiveKoraDAB</DatabaseName>
  <FromEmail>livekoranet@gmail.com</FromEmail>
  <FromName>LiveKora</FromName>
  <SMTPAuthentication>1</SMTPAuthentication>
  <SMTPSecurity>2</SMTPSecurity>
  <SMTPPort>587</SMTPPort>
  <SMTPUsername>livekoranet@gmail.com</SMTPUsername>
  <SMTPPassword>livekora_q1w2e3r4</SMTPPassword>
  <SMTPHost>smtp.gmail.com</SMTPHost>
  <IsStreamLive>0</IsStreamLive>
  <secKyeDashboard>ooo_sss_mmm</secKyeDashboard>
  <secKyeDashboard_barcode>ooo_sss_mmm</secKyeDashboard_barcode>
</AppSettings>