/*------------------------------------------------- Login---------------------------------------------*/
#WideCol{width:97%;direction:rtl;}
#WideCol .Login{ width:44%!important; float:right; border-left:3px dotted #e6e6e6;height:auto; margin-left:10px; padding-left:28px;}
#registerDV{ padding:0px 20px 0px 0px!important; border:0px!important;}
.Input2 ,.text-box{ width:97%; height:30px; line-height:30px; background-color:#f8f8f8; border: 1px solid #ededed; color:#666; padding:5px; text-align:right;}
.Login{ width:100%!important; float:right; border-left:2px solid #CCC;}
.FBReg{ float:right; width:100%;}
.Login label ,.HNewReg label{ width:100%; float:right; font-size:12pt; margin-bottom:2px; text-align:right;}
.LogTit{ font-size:14pt;height:40px; line-height:40px; padding:0px 20px 0px 0px;-moz-border-radius:4px;border-radius:4px; color:#ececec; background-color:#4d4d4d;}
.LogDiv{ text-align:center; direction:rtl;}
.LogDiv p{ text-align:right;}
.btnzdv{ text-align:center;}
#messages{ text-align:center; width:100%; direction:rtl;}
#messages a{ color:#dd8200; width:100%; clear:both; display:block; margin-top:5px;}
#messages h2{ display:inline-block;width:90%;height:100px;padding-top:50px;-moz-border-radius:4px;border-radius:4px;background:#e6e6e6 url(../images/MBG.gif) repeat-x top;font-size:14pt; color:#333;}

.btnz{width:100px!important; height:34px !important; line-height:34px; display:inline-block!important;cursor:pointer; border:0px; color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-top:15px; background-color:#4d4d4d;-moz-border-radius:4px;border-radius:4px; }
.btnz:hover{color:#fff; background-color:#000;}
.localize{ width:100%; float:right; font-size:10pt; color: #999;}
.SarmadyNet{ float:right; width:100%; margin-top:20px; padding-bottom:25px; text-align:center;}
.SarmadyNet img{ border:none;}
.SarmadyNet span{ float:right; width:100%;}
.SarmadyNet a{ display:inline-block; margin:10px}
.cent{ float:right; width:97%; margin:30px 0px;padding-top:20px;-moz-border-radius:4px;border-radius:4px; height:45px; line-height:37px;background-color: #eaedf4;}
.cent img{ width:auto;}
.fb_button{ margin:2px 0px 0px 20px; float:right; width:auto;}
.SaveM{color:#BB9700;margin:0px 5px 0px 0px; width:100%!important; text-align:right;}
.SaveM label{width:100px!important;}
.Reset{ float:right;margin-right: 30px; direction:rtl; width:730px; font-weight:bold; font-size:10pt; color:#666;}
.Reset .text-box{ width:500px;}
.Reset p{ text-align:center;}
.editor-field{ float:right; width:100%; margin-top:10px;}
.editor-field img{ float:right; width:auto; margin-top:9px;}
.editor-field #Capatcha{ float:right; width:361px; margin-right:10px;}
.field-validation-error{ color:red; font-size:7pt; font-family:Tahoma, Geneva, sans-serif; padding:5px 0px; display:block; float:right;}
.clear{ clear:both; height:5px;}
#divPasswordMatchError span
{
    width: 375px;
    float: none;
    margin: -5px 75px 0px 10px;   
}
.loginReg{
	float:right;
	width:100%;
	margin-top:40px;
	text-align:center;
}
.HLogin, .CommLogin{
float:right;
width:190px;
height:70px;
margin:25px 10px 0px 0px;
background-position:0 -51px

}

.Usrdit{position:relative; width:530px; height:140px; margin:0 20px 50px 0; background:url(../images/user_card.gif) no-repeat top center; direction:rtl;}
.Usrdit h3{top:-3px; right:140px; position:absolute; color:#ffc500; font-size:14pt}
.Usrdit img{border:3px solid #2A2A2A; margin:12px; float:right}
.Usrdit div{display:inline; float:right; width:380px; height:83px; margin-top:38px}
.Usrdit p{padding:6px 17px 0px 15px; width:370px; height:15px; font-size:9pt; font-family:Tahoma, Geneva, sans-serif; margin:0px;}
.Usrdit span, .Usrdit em{color:#bdbebd; line-height:20px}
.Usrdit em{font-style:normal; padding:0 10px}


.CloseLI{display:block; float:left; width:25px; height:25px;margin:12px 0px 0px 13px;}
.CommLoginPost{
float:right;
width:100%;
}
.MImg{
float:right;
border:1px solid #676767;
margin:10px 10px 0px 0px;
}
.MImg img{
width:27px;
height:27px;
}
a:hover.MImg{
border:1px solid #FFBD00;
}
.HLoginPost .loading{margin:120px 195px 0px 0px;}
#black_overlay{display: none;position: absolute;top: 0%;left: 0%;width: 100%; height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
.Welcome ,.WN ,.editi{
float:right;
width:99%;
}
#disablePage{
background:#000000 none repeat scroll 0 0;
display:none;
height:100%;
/*filter:alpha(opacity=90);
-moz-opacity:.9;
opacity:.9;*/
filter:alpha(opacity=85);
-moz-opacity:.8;
opacity:.8;
overflow:hidden;
position:fixed;
right:0;
top:0;
width:100%;
z-index:10000;
}
.HLoginInput ,.CommLoginInput{
width:100%;
float:right;
display:block;
}
.CommLoginInput{
width:72%;
padding-left:5px;
}
.ComPass{
display:block;
float:right;
width:110px;
}
.HLIN{
float: right;
background:url(../../MemberShip/images/Arabic/Lbbg.gif) NO-repeat;
float:right;
width:306px;
height:35px;
padding:16px 54px 0px 0px ;
!padding:15px 54px 0px 0px ;
}
.HlInfo ,.error{ float:right; width:300px;font-size:8pt; color:#997000; margin:0px 60px 3px 0px;}
.HlNoReg,.HlNoReg2, .HlNoReg3{ text-align:center; margin:20px 0px 20px 0px; width:100%; color:#FFBD00; font-size:10pt;}
.HlNoReg2,.HlNoReg3{ color:#999999; font-size:8pt; margin:10px 0px;}
.HlNoReg3{ font-weight:normal;}
.ReActivate{ margin:60px 0px 0px 0px;}
.Forgetpass{ margin:30px 0px 0px 0px}
.HLIN input{
float:right;
height:25px;
display:block;
width:270px;
font-family:Tahoma;
font-size:10pt;
font-weight:bold;
color:#000000;
border:0px;
margin-right:15px;
}
.HFLogorgetPass{
display:block;
width:auto;
margin:3px 55px 0px 14px;
font-size:8pt;
clear:both;
}
.HLoginBtn{
text-align: center;
float:right;
display:block;
width:147px;
height:37px;
margin:5px 132px 5px 130px;
line-height:35px;
background: url(../../MemberShip/images/Arabic/HLoginBtn.gif) no-repeat top;
color:#FFFFFF;
text-decoration:none !important;
}
.loginCheck ,.SaveM{
float:right;
width:auto;
margin:0px 0px 5px 10px;
}

a:hover.HLoginBtn{
background: url(../../MemberShip/images/Arabic/HLoginBtn.gif) no-repeat bottom;
text-decoration:none;
color:#000000 !important;
}
.Login ,.HNewReg{
display:block;
width:100%;
text-align:right;
font-size:10pt;
font-weight:bold;
color:#B38400;
}
.NewReg .HLIN{ height:30px; padding:5px 54px 2px 0px;background:url(../../MemberShip/images/Arabic/Lbbgs.gif) NO-repeat;}
.NewReg .HLIN input{ margin-top:5px; height:18px;}
.CAPTCHA{float:right; width:360px;padding:7px 0px 15px 0px;}
.CAPTCHA input{float:right;height:25px;width:50%;margin:0px 0px 0px 5px; padding-top:2px;border:solid 1px #ededed; background-color:#f8f8f8; color:#4C4C4C; font-family:Tahoma; font-size:8pt;}
.CAPTCHA input:hover{background-color:#fff;}
.CAPTCHAImage{float:right; width:130px; border-right:5px solid #000;border-left:5px solid #000; height:34px;}

.HNewReg{
float:right;
height:22px;
text-align:center;
font-size:8pt;
font-weight:normal;
line-height:22px;
color:#B38400;
}
a.Login:hover ,a.HNewReg:hover{
background-position:0 -122px;
text-decoration:none;
color:#000000;
}
a.HNewReg:hover{
background-position:0 -172px;
text-decoration:none;
color:#ffffff;
}
.CommLogin {
height:110px;
width:395px;
margin-right:67px;
padding:10px 8% 0px 0px;
background-image:none;
}
.LoginBut a{ display:block; width:auto; height:34px;background:url(../../MemberShip/images/Arabic/login.gif) no-repeat top;margin:20px 0px 0px 0px;}
.LoginBut a:hover{background:url(../../MemberShip/images/Arabic/login.gif) no-repeat bottom;}

.RegisterBut a{ display:block; width:auto; height:34px;background:url(../../MemberShip/images/Arabic/register.gif) no-repeat top;margin:20px 0px 0px 0px;}
.RegisterBut a:hover{background:url(../../MemberShip/images/Arabic/register.gif) no-repeat bottom;}
.UpdatePRF{width:530px; direction:rtl;margin: 0 auto;}
.UpdatePRF h3{font-size:18pt; background-color: #f3f3f3; height:45px; line-height:45px; padding:0px 15px;-moz-border-radius:4px;border-radius:4px; color:#B38400;}
.UpdatePRF form{ width:730px;}
.HLoginPost{
width:413px;
height:450px;
position:absolute;
background:url(../../MemberShip/images/Arabic/LogBg2.png) repeat-x;
display:none;
right:36%;
margin-top:100px;
z-index:11000;
}
.WN ,.MName{ width:auto; margin:10px 5px 0px 0px; color:#CC8B00; font-size:8pt;}
.ComentData ,.ComentDataW ,.CommLogin {
float:right;
width:86%;
border:5px solid #EEEEEE;
margin:5px 5px 5px 5px;
background-color:#ffffff;
overflow:hidden;
}

.editi{ width:70%; margin:2px 5px 10px 0px; color:#BDBDBE; font-size:8pt;}
/*------------------------------------------------- Registration page  -------------------------------------------------*/
.R_C{background:#f7f7f7;padding:8px 15px 0px 0px;float:right; min-height:220px; font-weight: bold; font-size:10pt; color:#575757;-moz-border-radius:4px;border-radius:4px; margin-top:-15px;}
.R_C label{width:139px;vertical-align:middle;display:inline-block; clear:right; float:right; margin:6px 10px 0px 0px;}
.R_C label label{width:auto; float:right;}
.R_C span{width:10px; float:right; margin:10px 5px 0px 0px;}
#fbStatus span{width:36px!important;}
.RegEditPassdv{ margin-top:25px;}
.RegEditPassdv label{ margin-top:8px;}

.R_Header{background:url(../../MemberShip/images/Arabic/r_header.gif) no-repeat;width:530px;height:73px; float:right;}
.R_Header h3{margin:0px 110px 0px 0px;padding-top:20px;font-size:14pt;color:#ffbf03;}
.R_C .RT{width:95%;line-height:35px; float:right; margin-bottom:10px; }
.R_C .RT p{ margin-top:-10px;}
.icon .R_Title{ margin-top:3px;}
.R_C form{padding-right:0px;}
.Label1{ margin-top:-5px!important;}
.R_C form p{margin-top:0px;clear:both;}
.R_C input{width:300px;border:1px solid #e7e7e7;height:20px;font-size:8pt;font-family:tahoma;color:#575757;margin:7px 0 0 0;background-color:#FFF;}
.R_C input:focus{background-color:#FFf;color:#575757;margin:7px 0 0 0;}
.R_C .Input2{width:220px;border:1px solid #ececec;height:20px;font-size:8pt;font-family:tahoma;color:#bbbbbb;margin:7px 0 0 0;}
.R_C .Input2:focus{background-color:#FFf;width:220px;}
.R_C select{border:1px solid #e7e7e7;color:#575757;font-family:tahoma;font-size:8pt;height:20px;margin:7px 0 0;width:312px;background-color:#FFF;}
.R_C select:focus{border:1px solid #e7e7e7;color:#575757;width:312px;background-color:#fff;}
.R_Title{color:#eb0202;}
.R_C .DropList{width:50px;}
.R_C .DropList:focus{width:50px;}
.R_C .DropList2{width:100px;}
.R_C .DropList2:focus{width:100px;}
.R_C .DropList3{width:64px;}
.R_C .DropList3:focus{width:64px;}
.R_C .InCode{width:220px;}
.R_C .Code_Img{float:right;margin:2px 172px 0 0;}
.R_C .R_CheckBox{clear:both;margin:6px 25px 0 0;}
.R_C .CheckBx{width:20px;float:right;margin:0 0 0 5px;}
.R_C .R_Statm a{text-decoration:underline;}
.R_C .R_Statm a:hover{text-decoration:none;}
.R_InputF{border:1px solid #ECECEC;color:#BBBBBB;font-family:tahoma;font-size:10pt;float:right;height:22px;margin:30px 25px 5px 0px;width:250px;}
.R_Note{float:right;color:#cc8b00;margin:5px 0px 0px 0px!important;width:175px!important;font-size:8pt;}
.P_Pic{width:150px;float:right;margin:0px 10px 20px 0px;}
.P_Pic img{ max-width:150px;}
#BtnDelImg{ float:right; width:87px; height:29px;background:url(../images/deleteimg.gif) no-repeat top; font-size:0px;}
#BtnDelImg:hover{background:url(../images/deleteimg.gif) no-repeat bottom;}
.AddPicForm{ float:right; width:98%; margin-bottom:25px; border-bottom:1px dotted #d1d1d1;}
.AddPicForm .loading{ margin:50px 239px 0px 0px;}
.AddPicForm .RT{ float:right; width:100%;}
.RT span{ width:82%; padding-right:15px; font-size:12pt;background-color:#eeeeee;-moz-border-radius:4px;border-radius:4px;}
.R_C .SubmitBtn{clear:both;text-align:center;width:auto; margin-right:-70px;}
.R_C .SubmitBtn a{background:transparent url(../../MemberShip/images/Arabic/NewBtBg.gif) repeat-x scroll right top;border:1px solid #000000;color:#FFFFFF;display:inline-block;font-size:7.5pt;font-weight:bold;line-height:20px;padding:0 10px;margin:30px 55px 0 0;text-align:center;text-decoration:none;}
.R_C .SubmitBtn a:hover{background:transparent url(../../MemberShip/images/Arabic/NewBtBg.gif) repeat-x scroll right bottom;color:#000;  }
.RegP1{clear:both;width:388px; float:right; margin:0px 10px;}
#ifu{float:right; width:100%;}
#UpLoad{ background-image:none; background-color:#FFFAEC;}
#UpLoadImg{ background-image:none; background-color:#F3F3F3;}
#uploadFrm{float:right; width:100%;direction:rtl;}
#lblMsg{float:right; margin:5px 25px 10px 0px; width:80%; font-size:8pt;}
.addAttach{ float:right; width:93%; font-size:8pt; margin:10px 12px 0px 0px; background-color:#FFF4D5;padding:5px 10px 5px 0px;}
.RegTitle{background:url(../../MemberShip/images/Arabic/reg-title.gif) no-repeat;}
.SearchTitle{background:url(../../MemberShip/images/Arabic/SearchInfo.gif) no-repeat;}
.RegTitle span{padding:7px 0 10px;width:184px;}
.RegTitle li{margin:2px 0px 5px 0;background:url(../../MemberShip/images/Arabic/sug-dot.gif) no-repeat 157px 10px;}
.R_Activ{background:url(../../MemberShip/images/Arabic/activ-bg.gif) repeat-x;height:50px;border:5px solid #fdc367;margin:10px 0px; float:right;width:98.2%;!width:98.3%;}
.R_Activ p{text-align:center;;margin-top:5px;color:#000;line-height:1.6; font-family:Tahoma; font-size:8pt;}
.R_C .HlInfo{color:#dd8200;float:right;font-size:8pt;margin:3px 171px 7px 0;width:58%;}
.error{ color:#999; margin-right:0px;}
.errorlink{ color:#997000;}
.R_C .HlInfo img {margin:0 0 -3px 3px;}
#LogNet{ float:right; width:94%;text-align:center;margin:32px 12px 0px 0px;!margin:15px 12px 0px 0px; border-top:1px dashed #212121;}
#LogNet span{padding:5px 20px; display:block; color:#3C3C3C; font-size:8pt;}
#LogNet img{ margin:5px 10px 0px 10px;}
